@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 4em;
    /* width: 8em; */
    /* margin: 0 auto; */

    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slash {
    width: 20%;
    height: 4em;
}

nav img {
    margin-top: 0.45em;
    width: 3em;
    height: 3em;
}

#hamburger {
    margin-left: 0.9em;
    width: 2em;
    height: 2em;
}

.sections {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 0.96em;
    word-spacing: 0.3em;

    padding-top: 15px;
    border-top: 1px solid #dbdbdb;
}

header {
    position: absolute;
    left: 0;

    width: 100vw;
    height: 70vh;
    
    background-color: #663399;

    /* background-image: url(assets/robot.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */

    clip-path: polygon(0 2%, 100% 1%, 100% 91%, 0% 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 25em;
    width: 25em;
    clip-path: circle(50%);

    margin-bottom: 2em;
}

.title {
    text-align: center;
    color: white;
}

.title h1 {
    margin-top: 0.5em;
    margin-bottom: 0.6em;

    font-size: 3em;
    font-family: utopia-std, serif;
    font-weight: 700;
    font-style: normal;
}

.title h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;
    font-size: 0.96em;
    word-spacing: 0.3em;
}